<div class=e160_4>
    <div class="e160_5"></div>
    <div class="e160_6"></div>
    <span class="e160_7">COPYRIGHT 2023 OPEL LED</span>
    <span class="e160_8">Follow us on</span>
    <div class="e160_9"></div>
    <div class="e160_10"></div>
    <div class="e160_11"></div>
    <div class="e160_12"></div>
    <div class="e160_13"></div>
    <div class="e160_14"></div>
    <span class="e160_15">Ask us anything...</span>
    <br>
    <br>
    <span class="e160_45">Got a question? We’d love to hear from you. Send us a
        message and we’ll respond as soon as possible.</span>
    <form [formGroup]="supportForm">
        <!-- <span class="e160_46">Your Name (required)</span>
<input type="text" placeholder="Enter a name" class="input"/> -->

        <div>
            <label class="e160_46">Your Name*</label>
            <input type="text" formControlName="userName" placeholder="Enter a name" class="input" />
        </div>
        <!-- <p class="myfield" *ngIf="(supportForm.controls['userName'].touched
    || supportForm.control['userName'].dirty) 
    && supportForm.control['userName'].invalid">
    Name Should contain atleast 4 characters </p> -->
        <!-- <span class="e160_47">Your Email (required)</span>
<span><input type="text" placeholder="Enter your email " class="input1"/></span> -->

        <div>
            <label class="e160_47">Your Email*</label>
            <input type="text" formControlName="userEmail" placeholder="Enter a email" class="input1" />
        </div>
        <!-- <span class="e160_48">Subject</span>
<span><input type="text" placeholder="Enter your subject" class="input2"/></span> -->
        <div>
            <label class="e160_48">Subject</label>
            <input type="text" formControlName="userSubject" placeholder="Enter a subject" class="input2" />
        </div>

        <!-- <span class="e160_49">Your Message</span>
<span><input type="text" placeholder="Enter your message " class="input3"/></span> -->
        <div>
            <label class="e160_49">Your Message</label>
            <input type="text" formControlName="userMessage" placeholder="Enter a message" class="input3" />
        </div>
        <!-- <div  class="e160_16"> -->
        <!-- <span>
      <input type="text" placeholder="enter name"/>
        </span> -->
        <!-- </div> -->
        <!-- <div  class="e160_17"> -->
        <!-- <span>
            <input type="text" placeholder="Enter your email"/>
              </span> -->
        <!-- </div> -->
        <!-- <div  class="e160_18"> -->
        <!-- <span>
            <input type="text" placeholder="Enter your subject"/>
              </span> -->
        <!-- </div> -->
        <!-- <div  class="e160_19"> -->
        <!-- <span>
            <input type="text" placeholder="Enter your message"/>
              </span> -->
        <!-- </div> -->
        <!-- <div  class="e160_21"></div> -->
        <!-- <span  class="e160_22">SEND</span> -->
        <div>
            <button class="button" (click)="add()">
                SEND
            </button>
        </div>

    </form>

    <span class="e160_50">Still need help ?</span>
    <span class="e160_51"> If you’ve exhausted the above resources and haven’t found what you are looking for we’ve got
        you covered. Pease take one last spin through the FAQ and if you are still perplexed, contact us.</span>

        <span class="e160_23" (click)="direct_to_aboutus()">About us</span>
        <span class="e160_24" (click)="direct_to_home()">Home</span>
        <span class="e160_25" (click)="direct_to_product()">Product</span>
        <span class="e160_26" (click)="direct_to_contact()">Contact</span>
        <span class="e160_27">Support</span>
    

    <div class="e160_28"></div>
    <div class="e160_29"></div>
    <div class="e160_30"></div>
    <span class="e160_31">Login</span>
    <div class=e160_32>
        <div class="e160_33"></div>
        <div class="e160_34"></div>
        <span class="e160_35">Cart</span>
    </div>
    <div class="e160_36"></div>
    <div class="e160_37"></div>
    <div class="e160_38"></div>
    <div class="e160_39"></div>
    <div class="e160_40"></div>
    <div class="e160_41"></div>
    <div class="e160_55"></div>

    <span class="e160_42"><b>How can we help
            <br>you ? </b>
    </span>
    <br>
    <br>
    <span class="e160_43">
        <p>Account Help</p>
    </span>

    <br>
    <span class="e160_44">
        <p>Logging in</p>
        <p>Profile help</p>
        <p>Account settings</p>
        <p>Security</p>
    </span>
    <!-- <div class="verticalLine">
</div> -->

</div>