<div class=e324_28>
  <div class="e324_29"></div><span class="e324_30">LED
  </span>
  <div class="e324_31"></div><span class="e324_32">About us</span>
  <div class="e324_33"></div>
  <span class="e324_34" (click)="direct_to_home()">Home</span>
  <span class="e324_35" (click)="direct_to_product()">Product</span>
  <span class="e324_36" (click)="direct_to_contact()">Contact</span>
  <span class="e324_37" (click)="direct_to_support()">Support</span>
  <div class="e324_38"></div>
  <div class="e324_39"></div>
  <span class="e324_40">Login</span>
  <div class=e324_41>
    <div class="e324_42"></div>
    <div class="e324_43"></div>
    <span class="e324_44">Cart</span>
  </div><span class="e324_45">OPEL LED’s</span>
  <div class="e324_46"></div>
  <div class="e324_47"></div>
  <div class="e324_48"></div>
  <div class="e324_49"></div>
  <div class="e324_50"></div>
  <div class="e324_51"></div>
  <span class="e324_52">About Us... </span>
  <div class="e324_53"></div>
</div>