.e324_28 { 
	overflow:hidden;
}
.e324_28 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:1782px;
	position:absolute;
}
.e324_29 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:2028px;
	position:absolute;
	left:0px;
	top:0px;
}
.e324_30 { 
	color:rgba(217.8125050663948, 173.96684020757675, 18.514080941677094, 1);
	width:627px;
	height:264px;
	position:absolute;
	left:658px;
	top:972px;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e324_31 { 
	width:314.581298828125px;
	height:206px;
	position:absolute;
	left:34px;
	top:14px;
	background-image:url(images/opel_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e324_32 { 
	color:rgba(255, 0, 0, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:538px;
	top:157px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e324_33 { 
	border:1px solid rgba(255, 0, 0, 1);
}
.e324_33 { 
	width:80.0062484741211px;
	height:0px;
	position:absolute;
	left:540.9968872070312px;
	top:184.5px;
}
.e324_34 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:439px;
	top:157px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e324_35 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:668px;
	top:157px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e324_36 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:908px;
	top:157px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e324_37 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:788px;
	top:157px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e324_38 { 
	background-color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:139px;
	height:44px;
	position:absolute;
	left:1108px;
	top:86px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e324_39 { 
	width:35px;
	height:35px;
	position:absolute;
	left:1212px;
	top:91px;
	background-image:url(images/user__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e324_40 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:31px;
	position:absolute;
	left:1133px;
	top:95px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e324_41 { 
	width:139px;
	height:44px;
	position:absolute;
	left:1274px;
	top:86px;
}
.e324_42 { 
	background-color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:139px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.e324_43 { 
	width:35px;
	height:35px;
	position:absolute;
	left:93px;
	top:4px;
	background-image:url(images/shopping_cart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e324_44 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:29px;
	position:absolute;
	left:23px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e324_45 { 
	color:rgba(217.8125050663948, 173.96684020757675, 18.514080941677094, 1);
	width:627px;
	height:264px;
	position:absolute;
	left:658px;
	top:618px;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e324_46 { 
	background-color:rgba(221.00000202655792, 164.83287513256073, 98.89752879738808, 1);
	width:1556px;
	height:6px;
	position:absolute;
	left:0px;
	top:231px;
}
.e324_47 { 
	background-color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:377px;
	height:42px;
	position:absolute;
	left:531px;
	top:47px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e324_47 { 
	border:2px solid rgba(163.62499594688416, 127.14269757270813, 69.81334984302521, 1);
}
.e324_48 { 
	width:28px;
	height:28px;
	position:absolute;
	left:863px;
	top:54px;
	background-image:url(images/search_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e324_49 { 
	box-shadow:10px 4px 4px rgba(0, 0, 0, 0.25);
	width:1440px;
	height:227px;
	position:absolute;
	left:0px;
	top:231px;
	border-top-left-radius:37px;
	border-top-right-radius:37px;
	border-bottom-left-radius:37px;
	border-bottom-right-radius:37px;
	background-image:url(images/rectangle_41.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e324_49 { 
	border:5px solid rgba(56.31249949336052, 51.385159492492676, 43.642185777425766, 1);
}
.e324_50 { 
	box-shadow:10px 8px 2px rgba(110.50000101327896, 110.50000101327896, 110.50000101327896, 0.25);
	width:314.581298828125px;
	height:206px;
	position:absolute;
	left:153px;
	top:644px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/opel_1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e324_50 { 
	border:1px solid rgba(132.8124949336052, 132.8124949336052, 132.8124949336052, 1);
}
.e324_51 { 
	width:1440px;
	height:1125px;
	position:absolute;
	left:0px;
	top:486px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/opel_1_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e324_52 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:264px;
	height:61px;
	position:absolute;
	left:618px;
	top:499px;
	font-family:Inter;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e324_53 { 
	box-shadow:10px 8px 2px rgba(0, 0, 0, 0.25);
	width:315px;
	height:315px;
	position:absolute;
	left:153px;
	top:972px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/rectangle_42.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e324_53 { 
	border:1px solid rgba(132.8124949336052, 132.8124949336052, 132.8124949336052, 1);
}
