.e13_2 { 
	overflow:hidden;
}
.e13_2 { 
	background-color:rgba(0, 0, 0, 1);
	width:1467px;
	height:1024px;
	position:absolute;
}
.e13_3 { 
	width:1418px;
	height:1030px;
	position:absolute;
	left:25px;
	top:55px;
}
.e13_4 { 
	width:1411.2886962890625px;
	height:838px;
	position:absolute;
	left:0px;
	top:192px;
}
.e13_5 { 
	width:1406.4949951171875px;
	height:1024px;
	position:absolute;
	left:11.505088806152344px;
	top:0px;
}
.e13_6 { 
	background-color:rgba(0, 0, 0, 1);
	width:621.2738037109375px;
	height:748px;
	position:absolute;
	left:401.7187805175781px;
	top:157px;
	border-top-left-radius:47px;
	border-top-right-radius:47px;
	border-bottom-left-radius:47px;
	border-bottom-right-radius:47px;
}
.e13_6 { 
	border:1px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e13_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:581.006103515625px;
	height:157px;
	position:absolute;
	left:423.7701721191406px;
	top:244px;
	border-radius:Symbol(figmamixed)px;
}
.e13_7 { 
	border:1px solid rgba(251.81250303983688, 251.81250303983688, 251.81250303983688, 1);
}
.e13_8 { 
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.0775993731931778deg);
    background-color: rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
    width: 559.773987px;
    height: 527.0101318359375px;
    position: absolute;
    left: 423.275177px;
    top: 310.75677490234375px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.e13_8 { 
	border:12px solid rgba(255, 246.96267127990723, 237.36253201961517, 1);
}
.e13_9 { 
	width:45.35403060913086px;
	height:45px;
	position:absolute;
	left:697.9743041992188px;
	top:254px;
	background-image:url(images/refer.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_10 { 
	width:47.93779754638672px;
	height:50px;
	position:absolute;
	left:442.9452819824219px;
	top:249px;
	background-image:url(images/back__1__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(217.8125050663948, 173.96684020757675, 18.514080941677094, 1);
	width:121.76200103759766px;
	height:52px;
	position:absolute;
	left:665.3765869140625px;
	top:181px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e13_12 { 
	color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
	width:203.25625610351562px;
	height:37px;
	position:absolute;
	left:450.615234375px;
	top:327px;
	font-family:Hind;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e13_13 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:457.32659912109375px;
	height:54px;
	position:absolute;
	left:481.2954406738281px;
	top:391px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e13_13 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e13_14 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:457.32659912109375px;
	height:54px;
	position:absolute;
	left:476.5016784667969px;
	top:477px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e13_14 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e13_15 { 
	color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
	width:79.57674407958984px;
	height:27px;
	position:absolute;
	left:506.22314453125px;
	top:405px;
	font-family:Irish Grover;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_16 { 
	color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
	width:117.9269790649414px;
	height:30px;
	position:absolute;
	left:490.8830261230469px;
	top:489px;
	font-family:Irish Grover;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:122.29810333251953px;
	height:57px;
	position:absolute;
	left:636.6139526367188px;
	top:599px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e13_17 { 
	border:2px solid rgba(221.00000202655792, 185.00000417232513, 142.00000673532486, 1);
}
.e13_18 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:173.123291015625px;
	height:35px;
	position:absolute;
	left:656.747802734375px;
	top:613px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_19 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:319.2657165527344px;
	height:57px;
	position:absolute;
	left:550.325927734375px;
	top:748px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e13_19 { 
	border:2px solid rgba(221.00000202655792, 185.00000417232513, 142.00000673532486, 1);
}
.e13_20 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:331px;
	height:35px;
	position:absolute;
	left:565px;
	top:763px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e13_21 { 
	color:rgba(123.0000002682209, 115.00000074505806, 115.00000074505806, 1);
	width:341.3171081542969px;
	height:32px;
	position:absolute;
	left:483.2129821777344px;
	top:558px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e13_22 { 
	color:rgba(123.0000002682209, 115.00000074505806, 115.00000074505806, 1);
	width:341.3171081542969px;
	height:32px;
	position:absolute;
	left:621.2738037109375px;
	top:722px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e13_23 { 
	color:rgba(0, 0, 0, 0.5);
	width:49.85530471801758px;
	height:40px;
	position:absolute;
	left:680.7167358398438px;
	top:676px;
	font-family:Irish Grover;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e13_25 { 
	width:323px;
	height:206px;
	position:absolute;
	left:-29px;
	top:-17px;
	background-image:url(images/opel_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e61_82 { 
	width:109px;
	height:81px;
	position:absolute;
	left:426px;
	top:159px;
	background-image:url(images/opel_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e254_83 { 
	width:323px;
	height:206px;
	position:absolute;
	left:-29px;
	top:-17px;
	background-image:url(images/opel_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}

@media only screen and (max-width: 768px) {
	.e13_2 { 
		overflow:hidden;
	}
	.e13_2 { 
		background-color:rgba(0, 0, 0, 1);
		width:768px;
		height:1024px;
		position:absolute;
	}
	.e13_3 { 
		width:1124px;
		height:1030px;
		position:absolute;
		left:-196px;
		top:74px;
	}
	.e13_4 { 
		width:1118.68017578125px;
		height:838px;
		position:absolute;
		left:0px;
		top:192px;
	}
	.e13_5 { 
		width:1114.88037109375px;
		height:1024px;
		position:absolute;
		left:9.119675636291504px;
		top:0px;
	}
	.e13_6 { 
		background-color:rgba(0, 0, 0, 1);
		width:492.46246337890625px;
		height:748px;
		position:absolute;
		left:318.4286804199219px;
		top:157px;
		border-top-left-radius:47px;
		border-top-right-radius:47px;
		border-bottom-left-radius:47px;
		border-bottom-right-radius:47px;
	}
	.e13_6 { 
		border:1px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
	}
	.e13_7 { 
		box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
		background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
		width:460.5436096191406px;
		height:157px;
		position:absolute;
		left:335.9080505371094px;
		top:244px;
		border-radius:Symbol(figmamixed)px;
	}
	.e13_7 { 
		border:1px solid rgba(251.81250303983688, 251.81250303983688, 251.81250303983688, 1);
	}
	.e13_8 { 
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transform: rotate(-0.09789668507789694deg);
		background-color: rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
		width: 438.921234px;
		height: 527.010009765625px;
		position: absolute;
		left: 336.02771px;
		top: 310.75677490234375px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.e13_8 { 
		border:12px solid rgba(255, 246.96267127990723, 237.36253201961517, 1);
	}
	.e13_9 { 
		width: 45.438596725463867px;
		height:45px;
		position:absolute;
		left:553.2603149414062px;
		top:254px;
		background-image:url(images/refer.png);
		background-repeat:no-repeat;
		background-size:cover;
	}
	.e13_10 { 
		width:37.99864959716797px;
		height:50px;
		position:absolute;
		left:351.1075134277344px;
		top:249px;
		background-image:url(images/back__1__2.png);
		background-repeat:no-repeat;
		background-size:cover;
	}
	.e13_11 { 
		box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
		color:rgba(217.8125050663948, 173.96684020757675, 18.514080941677094, 1);
		width:130.51656341552734px;
		height:52px;
		position:absolute;
		left:527.4212036132812px;
		top:181px;
		font-family:Inter;
		text-align:left;
		font-size:36px;
		letter-spacing:0;
	}
	.e13_12 { 
		color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
		width:161.11427307128906px;
		height:37px;
		position:absolute;
		left:357.1872863769531px;
		top:327px;
		font-family:Hind;
		text-align:left;
		font-size:26px;
		letter-spacing:0;
	}
	.e13_13 { 
		background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
		width:362.5071105957031px;
		height:54px;
		position:absolute;
		left:381.50640869140625px;
		top:391px;
		border-top-left-radius:22px;
		border-top-right-radius:22px;
		border-bottom-left-radius:22px;
		border-bottom-right-radius:22px;
	}
	.e13_13 { 
		border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
	}
	.e13_14 { 
	    background-color: rgba(255, 247.00000047683716, 237.0000010728836, 1);
		width: 364.507111px;
		height: 54px;
		position: absolute;
		left: 380.706573px;
		top: 477px;
		border-top-left-radius: 22px;
		border-top-right-radius: 22px;
		border-bottom-left-radius: 22px;
		border-bottom-right-radius: 22px;
	}
	.e13_14 { 
		border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
	}
	.e13_15 { 
		color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
		width:63.077754974365234px;
		height:27px;
		position:absolute;
		left:401.2657165527344px;
		top:405px;
		font-family:Irish Grover;
		text-align:left;
		font-size:24px;
		letter-spacing:0;
	}
	.e13_16 { 
		color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
		width:93.47667694091797px;
		height:30px;
		position:absolute;
		left:389.10614013671875px;
		top:489px;
		font-family:Irish Grover;
		text-align:left;
		font-size:24px;
		letter-spacing:0;
	}
	.e13_17 { 
		box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
		background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
		width:96.94151306152344px;
		height:57px;
		position:absolute;
		left:504.6220397949219px;
		top:599px;
		border-top-left-radius:20px;
		border-top-right-radius:20px;
		border-bottom-left-radius:20px;
		border-bottom-right-radius:20px;
	}
	.e13_17 { 
		border:2px solid rgba(221.00000202655792, 185.00000417232513, 142.00000673532486, 1);
	}
	.e13_18 { 
		color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
		width: 72.22889709472656px;
		background-color: rgba(255, 247.00000047683716, 237.0000010728836, 1);
		border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
		height:35px;
		position:absolute;
		left: 516.581482px;
		top: 611px;
		font-family:Inter;
		text-align:left;
		font-size:24px;
		letter-spacing:0;
	}
	.e13_19 { 
		box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
		background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
		width:253.0709991455078px;
		height:57px;
		position:absolute;
		left:436.2244873046875px;
		top:748px;
		border-top-left-radius:20px;
		border-top-right-radius:20px;
		border-bottom-left-radius:20px;
		border-bottom-right-radius:20px;
	}
	.e13_19 { 
		border:2px solid rgba(221.00000202655792, 185.00000417232513, 142.00000673532486, 1);
	}
	.e13_20 { 
		color: rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
		width: 316.471939px;
		height: 35px;
		position: absolute;
		left: 445.703857px;
		top: 767px;
		font-family: Inter;
		text-align: left;
		font-size: 20px;
		letter-spacing: 0;
	}
	.e13_21 { 
		color:rgba(123.0000002682209, 115.00000074505806, 115.00000074505806, 1);
		width:270.5503845214844px;
		height:32px;
		position:absolute;
		left:383.0263671875px;
		top:558px;
		font-family:Inter;
		text-align:left;
		font-size:16px;
		letter-spacing:0;
	}
	.e13_22 { 
		color:rgba(123.0000002682209, 115.00000074505806, 115.00000074505806, 1);
		width:270.5503845214844px;
		height:32px;
		position:absolute;
		left:492.46246337890625px;
		top:722px;
		font-family:Inter;
		text-align:left;
		font-size:16px;
		letter-spacing:0;
	}
	.e13_23 { 
		color:rgba(0, 0, 0, 0.5);
		width:39.518592834472656px;
		height:40px;
		position:absolute;
		left:539.580810546875px;
		top:676px;
		font-family:Irish Grover;
		text-align:left;
		font-size:32px;
		letter-spacing:0;
	}
	.e13_24 { 
		width:109px;
		height:67px;
		position:absolute;
		left:150px;
		top:240px;
		background-image:url(images/opel_3.png);
		background-repeat:no-repeat;
		background-size:cover;
	}
	.e13_25 { 
		width:323px;
		height:206px;
		position:absolute;
		left:-29px;
		top:-17px;
		background-image:url(images/opel_6.png);
		background-repeat:no-repeat;
		background-size:cover;
	}
	
  }
