.e129_2 { 
	overflow:hidden;
}
.e129_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2028px;
	position:absolute;
}

.e129_3 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:2031px;
	position:absolute;
	left:0px;
	top:0px;
}
.e129_5 { 
	width:56px;
	height:48px;
	position:absolute;
	left:464px;
	top:256px;
}
.e129_8 { 
	width:314.581298828125px;
	height:206px;
	position:absolute;
	left:22px;
	top:23px;
	background-image:url(images/opel_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e129_10 { 
	color:rgba(217.8125050663948, 173.96684020757675, 18.514080941677094, 1);
	width:405px;
	height:1152px;
	position:absolute;
	left:855px;
	top:323px;
	font-family:Inter;
	text-align:left;
	font-size:Symbol(figmamixed)px;
	
}
.e124_130 { 
	background-color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:1552px;
	height:124px;
	position:absolute;
	left:-78px;
	top:1907px;
}
.e124_130 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e124_131 { 
	color:rgba(255, 255, 255, 1);
	width:402px;
	height:66px;
	position:absolute;
	left:573px;
	top:1951px;
	font-family:Inria Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e124_132 { 
	border-radius:500px;
	background-color:rgba(19.0000007674098, 19.0000007674098, 19.0000007674098, 1);
	width:17px;
	height:19px;
	position:absolute;
	left:681px;
	top:1955px;
}
.e124_132 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e124_133 { 
	color:rgba(255, 255, 255, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:684px;
	top:1949px;
	font-family:Inria Sans;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e124_134 { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:38px;
	position:absolute;
	left:1305px;
	top:1969px;
	font-family:Inria Sans;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e124_135 { 
	width:25px;
	height:25px;
	position:absolute;
	left:1282px;
	top:1994px;
	background-image:url(images/instagram_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e124_136 { 
	width:25px;
	height:25px;
	position:absolute;
	left:1316px;
	top:1994px;
	background-image:url(images/facebook_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e124_137 { 
	width:25px;
	height:25px;
	position:absolute;
	left:1354px;
	top:1994px;
	background-image:url(images/twitter_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e124_138 { 
	width:25px;
	height:25px;
	position:absolute;
	left:1392px;
	top:1994px;
	background-image:url(images/linkedin_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e124_149 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:586px;
	top:191px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e124_150 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:487px;
	top:191px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e124_151 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:716px;
	top:191px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e124_152 { 
	color:rgba(255, 0, 0, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:956px;
	top:191px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e124_153 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:109px;
	height:39px;
	position:absolute;
	left:836px;
	top:191px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e124_155 { 
	border:1px solid rgba(255, 0, 0, 1);
}
.e124_155 { 
	width:62.00806427001953px;
	height:0px;
	position:absolute;
	left:965.9959716796875px;
	top:218.5px;
}
.e124_141 { 
	width:139px;
	height:44px;
	position:absolute;
	left:1093px;
	top:95px;
}
.e124_142 { 
	background-color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:139px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	color:rgba(0, 0, 0, 1);
	

}

.e124_143 { 
	width:35px;
	height:25px;
	position:absolute;
	left:80px;
	top:10px;
	background-image:url(images/user__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;

}
.e124_144 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:31px;
	position:absolute;
	left: 14px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e124_145 { 
	width:139px;
	height:44px;
	position:absolute;
	left:1259px;
	top:95px;
}
.e124_146 { 
	
	background-color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:139px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;

}
.e124_147 { 
	width:35px;
	height:35px;
	position:absolute;
	left:93px;
	top:4px;
	background-image:url(images/shopping_cart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e124_148 { 
	color:rgba(0, 0, 0, 1);
	width:51px;
	height:29px;
	position:absolute;
	left:23px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e132_30 { 
	width:698px;
	height:621px;
    
	position:absolute;
	left:59px;
	top:435px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e159_109 { 
	background-color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:377px;
	height:42px;
	position:absolute;
	left:531px;
	top:83px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e159_109 { 
	border:2px solid rgba(163.62499594688416, 127.14269757270813, 69.81334984302521, 1);
	font-size: 20px;
	border: none;
	outline: none;


}
.e159_109 [type='text'] ::placeholder {
	text-align: right;
}



.e160_3 { 
	width:28px;
	height:28px;
	position:absolute;
	left:848px;
	top:92px;
	background-image:url(images/search_1.png);
	background-repeat:no-repeat;
	background-size:cover;
	border: none;
	background-color: rgb(223, 166, 81);
}
.e132_34 { 
	color:rgba(217.8125050663948, 173.96684020757675, 18.514080941677094, 1);
	width:239px;
	height:336px;
	position:absolute;
	left:59px;
	top:1340px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e160_2 { 
	background-color:rgba(221.00000202655792, 164.83287513256073, 98.89752879738808, 1);
	width:1556px;
	height:6px;
	position:absolute;
	left:0px;
	top:231px;
}
