<div class=e129_2>

    <div  class="e129_3"></div>
 
    
    <div class="e129_5"></div>
    <div class="e129_8"></div><span  class="e129_10">
      <h3>Showroom Address:</h3>
        <div  class="e160_3">  </div>
          <span>Get Direction :</span>
        <div>
          <div>
          <h3>Company Details:</h3>
        </div>
        </div>
        <div>
          <div>
          <h3>Bank Details:</h3>
        </div>
        </div>
      
  </span>
    <div class="e124_130"></div><span  class="e124_131">COPYRIGHT 2023 OPEL LED</span>
    <span  class="e124_134">Follow us on</span>
    <div class="e124_135"></div>
    <div class="e124_136"></div>
    <div class="e124_137"></div>
    <div class="e124_138"></div>

    <span  class="e124_149" (click)="direct_to_aboutus()">About us</span>
    <span  class="e124_150" (click)="direct_to_home()">Home</span>
    <span  class="e124_151" (click)="direct_to_product()">Product</span>
    <span  class="e124_152">Contact</span>
    <span  class="e124_153" (click)="direct_to_support()">Support</span>

    <div class="e124_155"></div>
    <div class=e124_141>
      <button class="e124_142" type="button"></button>
      <div class="e124_143"></div><span  class="e124_144">LogIn</span>
    </div>
    <div class=e124_145>
      <button class="e124_146" type="button"></button>
      <div class="e124_147"></div><span  class="e124_148">Cart</span>
    </div>
    <div class="e132_30">
      
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.475878560208!2d78.97070457443978!3d21.212969981427676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4e97f454d37d5%3A0x32dca0144110c4a8!2sS.%20B.%20Jain%20Institute%20of%20Technology%2C%20Management%20%26%20Research%2C%20Nagpur!5e0!3m2!1sen!2sin!4v1683616465524!5m2!1sen!2sin"
         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        </div>
    <input class="e159_109" type="text" id = "txtComputer" placeholder="Search" >

     
 
    <button class="e160_3"></button><span  class="e132_34">Email             :
  
  Freephone :
   
  Telephone :
  
  FAX               : </span>
    <div class="e160_2"></div>
  </div>