<div class=e233_8>
    <div class="e258_139"></div>
    <div class="e254_28"></div>
    <div class="e246_50"></div>
    <div class=e254_58>
      <div class="e254_59"></div>
      <div class="e254_60"></div>
      <div class="e254_61"></div>
      <div class="e254_63"></div>
      <div class="e254_64"></div>
      <div class="e254_65"></div>
      <div class="e254_66"></div><span  class="e254_67">Address</span>
      <div class=e254_94>
        <div class="e254_69"></div><span  class="e254_71">Country/Region*</span>
      </div>
      <div class=e254_95>
        <div class="e254_96"></div><span  class="e254_97">Full Name (First & Last)*</span>
      </div>
      <div class=e254_98>
        <div class="e254_99"></div><span  class="e254_100">Mobile Number*</span>
      </div>
      <div class=e254_101>
        <div class="e254_102"></div><span  class="e254_103">Pin Code(Postal Code)*</span>
      </div>
      <div class=e254_104>
        <div class="e254_105"></div><span  class="e254_106">House No/Building/Company/Apartment*</span>
      </div>
      <div class=e254_107>
        <div class="e254_108"></div><span  class="e254_109">Area/Street/Landmark*</span>
      </div>
      <div class=e254_110>
        <div class="e254_111"></div><span  class="e254_118">State*</span>
      </div>
      <div class=e254_124>
        <div class="e254_125"></div><span  class="e254_126">Use This Address</span>
      </div>
    </div><span  class="e254_92">Enter your address here !</span><span  class="e233_42">Mark this as your default address </span>
    <div class="e254_128"></div>
  </div>