.e233_8 { 
	overflow:hidden;
}
.e233_8 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:1352px;
	position:absolute;
}
.e258_139 { 
	background-color:rgba(13.81250012665987, 13.547761682420969, 13.547761682420969, 1);
	width:1440px;
	height:1348px;
	position:absolute;
	left:0px;
	top:4px;
}
.e254_28 { 
	width:1440px;
	height:1125px;
	position:absolute;
	left:0px;
	top:215px;
}
.e246_50 { 
	width:323px;
	height:206px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/opel_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e254_58 { 
	width:1479px;
	height:1268px;
	position:absolute;
	left:-20px;
	top:31px;
}
.e254_59 { 
	width:1472px;
	height:838px;
	position:absolute;
	left:0px;
	top:192px;
}
.e254_60 { 
	width:1467px;
	height:1024px;
	position:absolute;
	left:12px;
	top:0px;
}
.e254_61 { 
	background-color:rgba(0, 0, 0, 1);
	width:648px;
	height:1111px;
	position:absolute;
	left:419px;
	top:157px;
	border-top-left-radius:47px;
	border-top-right-radius:47px;
	border-bottom-left-radius:47px;
	border-bottom-right-radius:47px;
}
.e254_61 { 
	border:1px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e254_63 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:606px;
	height:157px;
	position:absolute;
	left:442px;
	top:244px;
	border-radius:Symbol(figmamixed px)
}
.e254_63 { 
	border:1px solid rgba(251.81250303983688, 251.81250303983688, 251.81250303983688, 1);
}
.e254_64 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-0.07439886742320843deg);
	background-color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:582.8114624023438px;
	height:903.998779296875px;
	position:absolute;
	left:454px;
	top:310.75677490234375px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e254_64 { 
	border:12px solid rgba(255, 246.96267127990723, 237.36253201961517, 1);
}
.e254_65 { 
	width:34.78886413574219px;
	height:45px;
	position:absolute;
	left:728px;
	top:254px;
	background-image:url(images/refer.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e254_66 { 
	width:50px;
	height:50px;
	position:absolute;
	left:462px;
	top:249px;
	background-image:url(images/back__1__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e254_67 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(217.8125050663948, 173.96684020757675, 18.514080941677094, 1);
	width:159px;
	height:51px;
	position:absolute;
	left:695px;
	top:182px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e254_94 { 
	width:511px;
	height:54px;
	position:absolute;
	left:472px;
	top:401px;
}
.e254_69 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:511px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e254_69 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e254_71 { 
	color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
	width:207px;
	height:27px;
	position:absolute;
	left:25px;
	top:14px;
	font-family:Irish Grover;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e254_95 { 
	width:511px;
	height:54px;
	position:absolute;
	left:472px;
	top:485px;
}
.e254_96 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:511px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e254_96 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e254_97 { 
	color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
	width:262px;
	height:27px;
	position:absolute;
	left:25px;
	top:14px;
	font-family:Irish Grover;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e254_98 { 
	width:511px;
	height:54px;
	position:absolute;
	left:472px;
	top:569px;
}
.e254_99 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:511px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e254_99 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e254_100 { 
	color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
	width:188px;
	height:27px;
	position:absolute;
	left:25px;
	top:14px;
	font-family:Irish Grover;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e254_101 { 
	width:511px;
	height:54px;
	position:absolute;
	left:472px;
	top:653px;
}
.e254_102 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:511px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e254_102 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e254_103 { 
	color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
	width:261px;
	height:27px;
	position:absolute;
	left:25px;
	top:14px;
	font-family:Irish Grover;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e254_104 { 
	width:511px;
	height:54px;
	position:absolute;
	left:472px;
	top:737px;
}
.e254_105 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:511px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e254_105 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e254_106 { 
	color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
	width:457px;
	height:27px;
	position:absolute;
	left:25px;
	top:14px;
	font-family:Irish Grover;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e254_107 { 
	width:511px;
	height:54px;
	position:absolute;
	left:472px;
	top:821px;
}
.e254_108 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:511px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e254_108 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e254_109 { 
	color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
	width:294px;
	height:27px;
	position:absolute;
	left:25px;
	top:14px;
	font-family:Irish Grover;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e254_110 { 
	width:511px;
	height:54px;
	position:absolute;
	left:472px;
	top:905px;
}
.e254_111 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:511px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e254_111 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e254_118 { 
	color:rgba(14.875000063329935, 14.589897561818361, 14.589897561818361, 0.30000001192092896);
	width:206.7767333984375px;
	height:27px;
	position:absolute;
	left:25px;
	top:13px;
	font-family:Irish Grover;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e254_124 { 
	width:256px;
	height:54px;
	position:absolute;
	left:472px;
	top:1092px;
}
.e254_125 { 
	background-color:rgba(255, 247.00000047683716, 237.0000010728836, 1);
	width:256px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
	border-bottom-left-radius:22px;
	border-bottom-right-radius:22px;
}
.e254_125 { 
	border:2px solid rgba(255, 247.00000047683716, 237.0000010728836, 1);
}
.e254_126 { 
	color:rgba(217.0000022649765, 168.0000051856041, 91.00000217556953, 1);
	width:210px;
	height:27px;
	position:absolute;
	left:23px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e254_92 { 
	color:rgba(56.31249949336052, 56.31249949336052, 56.31249949336052, 1);
	width:423px;
	height:39px;
	position:absolute;
	left:452px;
	top:365px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e233_42 { 
	color:rgba(55.25000050663948, 54.88167107105255, 54.88167107105255, 1);
	width:241px;
	height:58px;
	position:absolute;
	left:459px;
	top:1041px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e254_128 { 
	width:49px;
	height:52px;
	position:absolute;
	left:663px;
	top:1041px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
