<div class=e468_2>
    <div class="container">
        <div class="text-container">
            <div class="text title">{{product.title}}</div>
            <div class="text description">{{product.description}}</div>
            <div class="text price">{{product.actual_price}}</div>
            <div class="text price">{{product.offer_price}}</div>
            <div class="text price">{{product.offer_percentage}}</div>
            <div class="text">{{product.brand}}</div>
            <div class="text colour">{{product.colour}}</div>
            <div class="text">{{product.light_type}}</div>
            <div class="text rating">{{product.rating}}</div>
            <div class="text">{{product.return_policy_upto}}</div>
            <div class="text room-type">{{product.room_type}}</div>
            <div class="text special-feature">{{product.special_feature}}</div>
            <div class="text">{{product.voltage}}</div>
            <div class="text warranty">{{product.warranty_period}}</div>
            <div class="text wattage">{{product.wattage}}</div>
        </div>
        <div class="image-container">
            <img src="{{product.img_url_1}}" class="img">
        </div>
        <div class="image-container">
            <img src="{{product.img_url_2}}" class="img_url_2" alt="Foreground Image">
        </div>
        <div class="image-container">
            <img src="{{product.img_url_3}}" class="img_url_3">
        </div>
        <div class="image-container4">
            <img src="{{product.img_url_4}}" class="img_url_4">
        </div>
    </div>

    <div class="e468_19"></div>
    <div class="e468_20"></div><span class="e468_21">Home</span><span class="e468_22">About us</span><span
        class="e468_23">Support</span><span class="e468_24">Contact</span>
    <div class="e468_25"></div>
    <div class="e468_26"></div>
    <div class=e468_27>
        <div class="e468_28"></div>
        <div class="e468_29"></div><span class="e468_30">Login</span>
    </div>
    <div class=e468_31>
        <div class="e468_32"></div>
        <div class="e468_33"></div><span class="e468_34">Cart</span>
    </div><span class="e468_35">Product</span>
    <div class="e468_36"></div>
    <div class="e468_37"></div><span class="e468_38">COPYRIGHT 2023 OPEL LED</span>
    <div class="e468_39"></div>
    <div class="e468_40"></div>
    <div class="e468_41"></div>
    <div class="e468_42"></div>
    <div class="e468_43"></div><span class="e468_44">Follow us on</span>
    <div class=e468_45>
        <div class="e468_46"></div>
    </div>
    <div class=e468_47>
        <div class="e468_48"></div>
    </div><span class="e468_67">Buy Now</span>
    <div class="e468_68" (click)="addtoCart(product.id)">Add to cart</div>
    <div class=e469_11>
        <div class=e468_3>
            <div class=e468_4>
                <div class=e468_5>
                    <div class="e468_6"></div>
                </div>
            </div>
            <div class=e468_7>
                <div class=e468_8>
                    <div class="e468_9"></div>
                </div>
            </div>
            <div class=e468_10>
                <div class=e468_11>
                    <div class="e468_12"></div>
                </div>
            </div>
            <div class=e468_13>
                <div class=e468_14>
                    <div class="e468_15"></div>
                </div>
            </div>
            <div class=e468_16>
                <div class=e468_17>
                    <div class="e468_18"></div>
                </div>
            </div>
        </div>
        <div class="e468_69"></div>
        <div class="e468_70"></div><span class="e468_71">Cash On Delhivery</span><span class="e468_72">30 Days
            Return</span><span class="e468_73">1 Year Warranty </span><span class="e468_74">Cash On
            Delhivery</span><span class="e468_75"> Home Delhivery</span>
        <div class="e468_76"></div>
        <div class="e468_77"></div>
        <div class="e468_78"></div>
        <div class="e468_79"></div>
    </div>
    <div class="e468_82"></div><span class="e468_83">c</span>
    <div class="e468_85"></div>
    <div class=e469_9>
        <div class="e469_5"></div>
        <div class="e469_6"></div>
        <div class="e469_7"></div>
        <div class="e469_8"></div>
    </div>
    <div class="e469_10"></div>
    <div class="e469_12"></div>
    <div class="e469_14"></div>
</div>